/* ==========================================================================
   9. BUTTONS
========================================================================== */
 .btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    &.with-icon {

      svg {
        margin-right:5px;
        margin-bottom:2px;
        width:0.75em;
      }
     
    }
  }

  .btn-transparent {
    padding: 0;
    background: transparent;
    color: $textColor;
    border: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.25px;
    cursor: pointer;
    background: transparent;
  
    &:hover {
    
      color: $primaryColor;
    }

  .btn-transparent.inverse {
    background: #fff;
    color: $bgColor;
  }
  .btn-transparent.inverse:hover,
  .btn-transparent.inverse:focus,
  .btn-transparent.inverse:active,
  .btn-transparent.inverse.active {
    background: #fff;
    color: $bgColor;
    text-decoration: underline;
  }
  }

  .btn-scrolltop {
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    border: none;
    outline: none;
    background-color: $primaryColor;
    color: #fff; 
    cursor: pointer; 
    padding: 9px 15px; 
    border-radius: 4px; 
    font-size: 18px; 

    &:hover {
      background-color: lighten($color: $primaryColor, $amount: 5);
      color: #fff; 
    }
  }


