/* ==========================================================================
   11. COMPONENTS 
========================================================================== */
  
/* ==========================================================================
   SIDEBAR (PROFILE)
========================================================================== */


.profile {

  box-shadow: 0 0.25em 0.25em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 0 rgba(10, 10, 10, 0.02);

  .card-content {
    margin-top: -30px;
    display:inline-block;
  
  }
}
.profile-name {
  line-height: 18px;
  padding: 20px;
}
.profile-image {
  margin-top: -18px;
  clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);

  img {
    width: 100%;
  }
}

ul.profile-information {
  list-style: none;
  margin: 8px 0px 8px 35px;

  .profile-information_icon {
    position: absolute;
    left: -10px;
    top: 11px;
    color:#fff;
    font-size:18px;
  }

  li {
    border-left: solid 2px $gray;
    padding: 0 0 23px 20px;
    font-size: 14px;
    color: $textColor;

    &:before {
      content: "";
      border: solid 2px $primaryColor;
      width: 8px;
      height: 8px;
      border-radius: 50px;
      font-size: 8px;
      margin-left: -25px;
      margin-top: 3px;
      font-weight: 400;
      background: #fff;
      display: block;
      position: absolute;
    }

    &:first-child {
      padding-bottom: 10px;
      padding-left: 30px;
      position: relative;    
      
      &:before {
        margin-left: -51px;
        margin-top: -30px;
        margin-bottom: 20px;
        position: relative;
        border: 0;
        width: 40px;
        height: 40px;
        padding: 11px 14px;
        background: $primaryColor;
      }

      &:after { 
         font-weight: 900;
         content: "\f0c6";    
         top: 0;
         left: 0;
         margin: 6px -11px;
         color:#fff;
       }

     
    }
  }

  p {
    margin: 0;
    color: $textColor;
    line-height: 18px;
    font-size:16px;
    margin-top:-11px;
  } 

  span {
    font-weight: 700;
  }
}

/* ==========================================================================
   SKILL
========================================================================== */
ul.skill {
    margin: 25px 0;
    list-style: none;
    overflow-x: hidden;

    li {
      max-width: 320px;
      margin-top: 15px;
      position: relative;

      &:before {
        width: 100%;
        height: 4px;
        content: "";
        display: block;
        position: absolute;
        background: $gray;
        bottom: 0;
      }
    }

    p {
      margin: 0;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: $textColor;
    }
  }

  ul.skill li .skill-bar {
    width: 100%;
    height: 4px;
    background: $primaryColor;
    display: block;
    position: relative;

    .skill-tip {
      position: absolute;
      top: -27px;
      right: -18px;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 11px;
      font-weight: 400;
      line-height: 11px;
      background-color: $primaryColor;
      color: #fff;
      
      display:none;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: $primaryColor;
        border-bottom: 0;
        margin-left: -6px;
        margin-bottom: -6px;
      }
    }

  
  }

   ul.skill-dots {
    margin: 25px 0;

    li {
      display: inline-block;
      margin-top: 15px;
      margin-bottom: 7px;
    }

    .skill-title {
      display: inline-block;
      width: 185px;
      margin: 0;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: $textColor;
    }

    .skill-progress {
      display: inline-block;

      i {
        margin-right: 10px;
        vertical-align: inherit;
        background-color: $gray;
        border-radius: 50%;
        display: inline-block;
        width: 12px;
        height: 12px;

        &.active {
          background-color: $primaryColor;
        }
      }
    }
  }

 @for $i from 1 through 10 {
    ul.skill-dots li .skill-progress i.active:nth-child(#{$i}) {
      animation: skills #{$i}s;
    }
  }

  @for $i from 1 through 100 {
    .skill-bar-#{$i} {
        width: #{$i}% !important;
        animation: "skill-animation-#{$i}" 2s ease-out;     
      }
  }

   
  /* ==========================================================================
     TIMELINE
  ========================================================================== */
  .timeline-centered {
    position: relative;
    margin-top: 37px;

    &:before {
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0px;
      display: block;
      width: 4px;
      border-left: dashed 1px $darkgray;
    }

    .timeline-entry {
      position: relative;
      margin-bottom: 35px;
      clear: both;

      @include desktop {
        margin-bottom: 60px;
      }
      
      &:last-child {
        margin-bottom: 0px;
      }
    }

    .timeline-entry-inner {
      position: relative;
      padding-left: 23px;
    }

    .timeline-icon {
      position: absolute;
      top: 5px;
      left: -8px;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50px;
      font-size: 15px;
      text-align: center;
      line-height: 9px;
      color: #fff;
      background-image: url('../img/arrow-left.png');
      background-size: 100%;
    }

    .timeline-label {
      position: relative;
      background: $primaryColor;
      padding: 2px 13px 0;
      margin-left: 10px;
      background-clip: padding-box;
      display: inline-block;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 26px;
      letter-spacing: 0.75px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: -9px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 9px 13px 0;
        border-color: transparent $primaryColor transparent transparent;
      }
    }

    .company {
      margin: 0;
      margin-top: 25px;
      font-size: 15px;
      font-weight: 700;
      line-height: 24px;
      color: $textColor;
    }

    p.designation {
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 0 15px;
    }

    p.description {
      margin:0;
      word-break: break-all;
    }
  }

  /* ==========================================================================
     PORTFOLIO
  ========================================================================== */
  .porfolio-wrapper {
    margin-top: 40px;

  
    .card {
    
      margin-bottom: 10px;
      padding: 0px;
      border-radius:6px;  
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.05), 0 0px 0 1px rgba(10, 10, 10, 0.02);
      cursor: pointer;
      transition-duration: 0.2s;
  
      &:hover  {
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
       
      }
  
      .card-content {
  
        .media {
          margin-bottom:0;
        }
  
        .content p {
          margin:0;
        }
  
        .tags {
          margin-bottom: 0.1rem;
  
          .tag {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding-top:15px;
            padding-bottom: 12px;
          }
        }
  
     
        .media-content h3{
          font-weight: 700;
          margin-bottom:10px;
        }
      }
    
  
      .card-image {
        background-color: $gray;
      }
  
      .cats {
        color: $textColor;
        font-size: 14px;
      }
  
      .is-equal-height .card-footer {
        margin-top: auto;
      }
      
  
      .card-footer {
       
        padding: 0.5rem 1.5rem;
        border: none;
      
       
       

        margin-top:auto;
  
        .highlights {
          color: $textColor;
          font-size: 13px;
        }
  
        .icon {
          color:$primaryColor;
         
       
        }

        .card-footer-item {
            border:none;
            padding:0;
            justify-content: flex-end ;
        }
      }
  
    
  
    }
  }

  .portfolioContainer.carousel {
    overflow: hidden;

    %slider-navigation {
      background: transparent;
    color: $primaryColor;
    border: none;
    box-shadow: none;

    svg {
      width: 30%;
    }
    }

    .slider-navigation-previous {
     @extend %slider-navigation;
     left: -13px;
  
    }
    .slider-navigation-next {
      @extend %slider-navigation;
      right: -13px;
     
     }
  }


  /* ==========================================================================
     CONNECT ME
  ========================================================================== */
  .connect {
    margin-bottom: -5px;
  }
  
  .connect .social-links {
    margin:0 auto 25px;
    text-align: center;

    @include desktop {
      margin:50px auto 25px;
    }

    li {
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 50% 50%;
      margin: 10px 10px 10px 0;
      list-style: none;
      display: inline-block;
      cursor: pointer;
    }

    .sm-icon {
      width: 100%;
      text-align: center;
      line-height: inherit;
      display: inline-block;
      font-size: 12px;
      color:#fff;
    }
  
  }
 
  .connect .social-links li.facebook {
    background-color: #3b5998;
  }
  .connect .social-links li.twitter {
    background-color: #1da1f2;
  }
  .connect .social-links li.google-plus {
    background-color: #dd4b39;
  }
  .connect .social-links li.dribbble {
    background-color: #ea4c89;
  }
  .connect .social-links li.behance {
    background-color: #1769ff;
  }
  .connect .social-links li.linkdin {
    background-color: #0077b5;
  }
  .connect .social-links li.instagram {
    background-color: #265881;
  }
  .connect .social-links li.vimeo {
    background-color: #1ab7ea;
  }
  .connect .social-links li.xing {
    background-color: #026466;
  }
 
  .mail-button {
      display:flex;
  }
  
  //MODAL

  .modal {
    z-index:10000;
  }

  .modal-card-title {
    margin:0;
  }

  .modal-card {

    @include desktop {
      width:720px;
    }

    h1 {
      font-weight:300;
      font-size: 40px;
    }

    .modal-card-head {
      border:none;
      border-bottom:1px solid whitesmoke;
      border-radius:0;
      background-color: #fff;

     
    }

    .modal-card-foot {
      border:none;
      border-top:1px solid whitesmoke;
      border-radius:0;
      justify-content: flex-end;
      background-color: #fff;

      .icon {
        margin: 0 10px;
      }
    }

    .modal-card-body {

      .gatsby-image-wrapper {
        background-color: #f8f8f8;
        margin: 15px 0;
      }

      .facts {
        margin:30px 0;

        border:none;
        border-left: 2px solid $primaryColor;
        border-radius: 0;

       .level {

        .heading {
          font-size: 14px;
          text-transform: none;
          margin:0;
        }
        .title {
          font-size:14px;
          margin: 10px 0 0;
        }
       }
      }

      .tags {
        margin:30px 0;
      }
    }

   
  }