/* ==========================================================================
   12. GENERAL STYLES
========================================================================== */
.background-image-wrapper {
    width: 100%;
    height: 100%;
    background-size: contain !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .background-image-wrapper img {
    display: none;
    max-height: 100%;
    min-height: 100%;
  }
  /*------------------------------------------*/
  /*	 Overriding general padding for transparent navigation
  /*------------------------------------------*/
  @media (min-height: 500px) and (min-width: 767px) {
    .home {
      height: 100vh;
      max-height: 800px;
      padding-top: 81px;
      padding-bottom: 0px;
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
    .home {
      height: auto;
      padding: 120px 0;
      padding-top: 163px;
    }
  }
  /*------------------------------------------*/
  /*	 Modal WIndows
  /*------------------------------------------*/
  .login-form .col-md-6 {
    padding: 35px;
    display: table-cell;
    float: none;
  }
  .login-form .close {
    opacity: 0.9;
    font-size: 25px;
    font-weight: 400;
    color: #5b5efa;
  }
  /*--login--*/
  @media (max-width: 767px) {
    .login-form .col-md-6 {
      display: block;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .modal-dialog .modal-body {
      padding: 0px;
    }
    .modal-dialog .modal-body:after {
      content: '';
      display: block;
      clear: both;
    }
    .modal-dialog .modal-content {
      border-radius: 0px;
    }
    .modal-dialog form > div[class*='col-']:not(:last-child) {
      margin-bottom: 20px;
    }
    .modal-dialog .login-form .col-md-6 {
      padding: 20px;
    }
  }
  .login-form .col-md-6 {
    vertical-align: middle;
  }
  .login-form .col-md-6 .checkboxlabel {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-size: 13px;
    line-height: 15px;
    text-transform: none;
  }
  .login-form .col-md-6 .checkboxlabel:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0px;
    background: #fff;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
    border-radius: 30px !important;
    color: #000;
  }
  .login-form .col-md-6 input[type=checkbox] {
    display: none;
  }
  .login-form .col-md-6 input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 11px;
  }
  .login-text {
    height: 100%;
  }
  .login-text h3 {
    font-weight: 300;
    margin-bottom: 0px;
  }
  .follows {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
   // background-image: url(../img/wave.png);
    background-size: 100%;
    height: 165px;
  }
  .follows p {
    margin-top: 95px;
    line-height: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 11px;
  }
  .follows .list-inline li a {
    color: #fff;
  }
  .follows .list-inline li a:hover {
    color: #5b5efa;
  }
  /*------------------------------------------*/
  /*   Scrollable Tabs
  /*------------------------------------------*/
  .scrtabs-tab-container .nav {
    padding-bottom: 0px;
  }
  .scrtabs-tab-container .nav-tabs li {
    /* padding-right: 80px;
          &:last-child{
              padding-right: 0;
          }*/
  }
  /*------------------------------------------*/
  /*   WHY CHOOSE BLOCKS
  /*------------------------------------------*/
  @media all and (max-width: 320px) {
    #whychooseus .col-xs-6 {
      width: 100%;
    }
  }