/* ==========================================================================
   14. FOOTER AND HEADER- styles that controls the footer part of the template
========================================================================== */
.header {
    position: relative;
    height: 385px;
    padding: 60px 0 0 0px;
    overflow: hidden;

    @include desktop {
      height: 510px;
    }
  
  }



  .header .resume-title {
    position: absolute;
    bottom: 72px;
    width: 100%;
    z-index: 2;

    @include desktop {
      width: calc(100% - 150px);
    }

    h2 {
      font-size: 45px;
      font-weight: 900;
      text-transform: uppercase;
      color: $textColor;
      line-height: 0.9em;
      letter-spacing: 0.14em;
  
      @include desktop {
        font-size: 70px;
      }
  
      width:250px;
      margin-bottom:0;
    
    }
  }
 
  .header .resume-designation {
    width: 100%;
    margin-top: 4px;
    display: inline-block;

    span {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #1f1f29;
      letter-spacing: 0.5em;
      vertical-align: middle;
  
      
    }

    .border {
      width: 100%;
      max-width: 208px;
      height: 4px;
      margin-right: 25px;
      background-color: $primaryColor;

      @include desktop {
        max-width: 290px;
      }
    }
  
  }
