/* ==========================================================================
  7. ICONS -- styles that controls the  icons
========================================================================== */

  .sw-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:10px 0;

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  .sw-icon {
    
    max-width:45px;
    padding:5px;
    
  }