/* ==========================================================================
  10. NAVIGATION- styles that control the navigation elements of the template
========================================================================== */
.nav-container {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
  
  }

   .nav-container li:hover,
  .nav-container li.active {
    z-index: 100;
    background-color: transparent;
  }
  .nav-container li:hover:after,
  .nav-container li.active:after {
    background-color: $secondaryColor;
  }
  .nav-container li .active  {
    text-decoration: none;
    z-index: 100;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-10%) translateY(-50%);
    transform: translateX(-10%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: $secondaryColor;
    color: #1f1f29;
  }

  .nav-container li  {
   
    padding: 0 10px;
    width: auto;
    height: auto;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-indent: 0;
    line-height: 2;
    opacity: 1;
    cursor: pointer;
    transform: translateX(-25%) translateY(-50%);


    a {
      color: #fff;
      padding:5px;
    }
  } 


  /*------------------------------------------*/
  /*	 Navbar styles
  /*------------------------------------------*/
  .nav {
    text-align: right;
    padding: 20px 0;
  }


  //BULMA

  .top-navbar {

    .navbar-brand {
      border-top: 15px solid $secondaryColor;
      border-left:15px solid $secondaryColor;
      border-right:15px solid $secondaryColor;

      .navbar-item {
        padding:0 0.5rem;

              
        img {
          max-width:50px;
        }
      }
    }
  
    .navbar-burger {
  
      &:hover {
        background-color: transparent;
      }
  
    }
  
    .navbar-menu {
      padding:0;
    }
  
    .navbar-start {
      border-left:15px solid $secondaryColor;
      border-right:15px solid $secondaryColor;
    }
  
    .navbar-item {
      padding: 1rem 2rem;

      &.active {
        color:$primaryColor;
      }
    }
  }


 