/* ==========================================================================
  3. TYPOGRAPHY - styles that defines typography of the template
========================================================================== */
body {
    font-family: 'Raleway', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #252525;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 49px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0.75px;
  }
  h2 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 13px;
    letter-spacing: 1.2px;

    &.title {
      font-size: 19px;
      line-height: 19px;
      margin-bottom: 13px;
      letter-spacing: 1.2px;
    }
  }
  h3 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 600;
  }
  li {
    font-size:14px;
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0 0px;
    letter-spacing: 0.75px;
    color: #424250;
  }
 
 
  .title {
    text-transform: uppercase;
    font-weight: 800;
  }

  